<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @chat_room.title %></h1>
    </div>
    <div class="col">
      <%= link_to 'Edit chat', edit_chat_room_path(@chat_room), class: 'btn btn-primary pull-xs-right'%>
    </div>
  </div>
</div>


<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <%= hidden_field_tag 'chat_room_id', @chat_room.id %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <%= f.submit 'Post', class: 'btn btn-primary btn-lg', id: 'button_send' %>
      </div>
      <div class="col">
        <%= link_to 'Leave',
                    participant_path(@chat_room),
                    method: :delete,
                    class: 'btn btn-danger pull-xs-right',
                    data: {confirm: 'Are you sure?'} %>
      </div>
    </div>
    </div>
  </div>

    <script type="text/javascript" charset="utf-8">
      $('#message_body').keyup(function(event){
        if(event.keyCode === 13){
          $('#button_send').click();
        }
      })
    </script>
<% end %>
